/* ################################ */
/* ############ CLASSES ############## */
/* ################################ */
body {
	margin: 0;
	background-color: #333333;
	font-size: 1.0em;
	font-family: sans-serif;
}
h1 {
	font-size: 1.2em;
	line-height: 8px;
	letter-spacing: 1.2px;
}
h2 {
	font-size: 0.8em;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	line-height: 30px;
}
.logo1 {
	padding: 4px;
	background-color: whitesmoke;
	color: black;
	font-weight: 600;
}
.logo2 {
	font-weight: 600;
}
.banner {
	z-index: 10;
	background-color:#333333;
	width:100%;
	padding: 0 0 12px 0;
	position: absolute;
}
.banner ul {
	margin: 0;
	padding: 10px;
}
.banner li {
	list-style-type: none;
	float: left;
}
.banner a {
	text-decoration: none;
	color: white;
	display: block;
	background-color: #333;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.0px;
	font-size: 1.0em;
	font-weight: 200;
}
.banner a:hover { color: #50608B;}
.tiles {
	position: relative;
	top: 55px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: whitesmoke;
}
.box {
	padding: 20px 30px 40px 30px;
	box-sizing: border-box;
}
.two50 {width: 50%;}
.three29 {width: 29%;}
.three32 {width: 32%;}
.three34 {width: 34%;}
.three36 {width: 36%;}
.three37 {width: 37%;}
.box a {
	text-decoration: none;
	color: whitesmoke;
	line-height: 26px;
}
/* Colors
Blue: 50608b
Red: 984860
Green-Dark: 4b7661
Green-Light: 799a8e
Purple: 85799a
Gray: gray
Brown: a27857
Tan: 9e9a75
*/
#legi {
	background-color: #50608b;
}
#ofta {
	background-color: #4b7661;
}
#technical {
	background-color: #984860;
}
#lerni {
	background-color: gray;
}
#ludi {
	background-color: #a27857;
}
#tennis {
	background-color: #799a8e;
}
#labori {
	background-color: #85799a;
}
#misc {
	background-color: #9e9a75;
}
.line {
	border: 1px solid white;
	background-color: white;
	width: 80%;
	text-align: left;
	margin-left: 0;
}
.pageup {
	position: fixed;
	padding: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #333333;
	text-align: center;
	font-size: 0.8rem;
}
.pageup:hover {color: #333333;}
.pageup a {text-decoration: none;}
.pageup-bar {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: whitesmoke;
	letter-spacing: 0.1rem;
	padding: 10px 0px 10px 0px;
}


/* ################################ */
/* ###### SCREEN SIZE ADJUSTMENTS ###### */
/* ################################ */
/* ### SCREEN SIZE <= 600px ### */
/* This is where two tile boxes get too cramped. */
@media only screen and (max-width: 600px) {
	.box {width: 100%;}
}
/* ### SCREEN SIZE > 600px AND <= 870px ### */
/* This is where three tile boxes get too cramped. */
@media only screen and (min-width: 601px) and (max-width: 870px) {
	.two44 {width: 44%;}
	.two56 {width: 56%;}
}
/* ### SCREEN SIZE > 870px AND < 1500px ### */
/* This is what the page is already designed at. */


/* ### SCREEN SIZE > 634px AND <= 880px ### */
/* This is where the banner wraps. */
@media only screen and (max-width: 880px) {
	.tiles {padding: 40px 0px 0px 0px;}
}
/* ### SCREEN SIZE <= 880px ### */
/* This is where the banner wraps. */
@media only screen and (max-width:490px) {
	.tiles {padding: 80px 0px 0px 0px;}
}
/* ### SCREEN SIZE >= 1500px ### */
/* This is where columns of three tile boxes has too much space. */
@media only screen and (min-width: 1500px) {
	.fourplus {width: 28%;}
	.fourminus {width: 22%;}
}


/* ### FOR MOBILE DEVICES (HIGH DPIs) ### */
@media only screen and (min-resolution: 251dpi) {
	.banner a {letter-spacing: 0.2rem;}
	.tiles {
		font-size: 1.4rem;	
		line-height: 3.0rem;
	}
	.pageup {
		padding: 0px;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color: #333333;
		text-align: center;
		font-size: 0.8rem;
}
	.pageup a {text-decoration: none;}
	.pageup-bar {
		visibility: visible;
		display: inline-block;
		width: 100%;
		height: 100%;
		color: whitesmoke;
		letter-spacing: 0.1rem;
		padding: 10px 0px 10px 0px;
}
}

